name: CI / Extension

on:
  push:
    branches:
      - main
    paths:
      - "extension/**"
  pull_request:
    paths:
      - "extension/**"

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest

      - name: Install dependencies
        run: npm ci
        working-directory: extension

      - name: Run Prettier check
        run: npm run format:check
        working-directory: extension
