name: CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Build and Test
        uses: brightdigit/swift-build@v1.4.0
        with:
          working-directory: native-host
          scheme: SaveToClipboard
